.home h1 {
  margin-bottom: 20px;
}

.home h4 {
  margin-bottom: 20px;
}
#main {
margin-top: 8em;

}
.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px; }
