.home h1 {
  margin-bottom: 20px;
}

.home h4 {
  margin-bottom: 20px;
}
#main {
margin-top: 8em;

}
/*Login/registration pages*/
.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px; }
/*Nav bar*/
.title-bar {
   background: #333;
   padding: 0.9rem; }
   .top-bar {
   background: #333; }
   .top-bar ul {
     background: #333; }
     .top-bar ul li {
       background: #333; }
       .top-bar ul li a {
         color: #fff; }
         .menu-text {
           color: #fff; }
